<div class="edgeClass">
    <node-source-app></node-source-app>
    <div class="edgeContainer">
        <div class="edgeTitle">EDGE</div>
        <div class="edgename">
            <div class="propertyParent">
                <div class="labelContainer">
                    <toggle-select-app></toggle-select-app>
                    <button class="removeedgebutton dangerButton">Remove edge</button>
                </div>
                <div class="propertyContainer">
                    <div>Properties</div>
                    <button class="edgepropertybutton quietButton">Add property</button>
                </div>
            </div>
        </div>
    </div>
    <node-source-app></node-source-app>
</div>
