body {
    font-family: 'Open Sans', 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
    display: flex;
    flex-flow: column wrap;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #FDFDFD;
}


td, th {
    vertical-align:top;
}

th {
    font-size: 16px;
}

td.edgename {
    padding: 0px 20px 0px 20px;
}

/* STEP 1 */

.homeContainer {
	border: 1px solid #D9D9D9;
	padding: 32px 40px;
	border-radius: 8px;
	background-color: #fff;
}

.header {
	padding-bottom: 16px;
}

	.title {
		font-weight: 700;
		font-size: 24px;
	}

	.label {
		margin-right: 16px;
		height: 18px;
	}

	.fileLabel {
		margin-bottom: 4px;
	}

.actionGroup {
	padding-top: 16px;
}

button {
	border-radius: 8px;
	padding: 12px 16px;
	transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease;
	font-size: 16px;
}

button.primaryButton {
	background-color:#378EF0;
	border: 1px solid #378EF0;
	cursor: pointer;
	color:#fff;
	
}

	button.primaryButton:hover {
		background-color: #2680EB;
		border: 1px solid #2680EB;
	}

button.secondaryButton {
	background-color:#fff;
	border: 1px solid #D9D9D9;
	cursor: pointer;
	color:#000;
	
}

	button.secondaryButton:hover {
		color: #378EF0;
		border: 1px solid #378EF0;
	}

.quietButton {
	border: none;
	background-color: transparent;
	color: #378EF0;
	transition: color 0.2s ease;
	cursor: pointer;
}

	.quietButton:hover {
		color: #2680EB;
	}

input, select {
    border: 1px solid #D9D9D9;
    background-color: #fff;
    border-radius: 8px;
	display:inline-block;
	padding: 12px;
	/* margin-top: 4px; */
	height: 18px;
}

input[type="file"] {
    display: none;
}

.fileUpload {
	border: 1px solid #D9D9D9;
	border-radius: 8px;
	display: inline-block;
	padding: 12px 16px;
	cursor: pointer;
	font-size: 16px;
	margin-bottom: 4px;
}

#fileError {
	color: #EC5B62;
}

input[type='checkbox']{
	margin-top: 8px;
	margin-bottom: 8px;
}

.headersOption {
	margin-top: 4px;
}

.nodeClass, .edgeClass{
	border: 1px solid #D9D9D9;
	border-radius: 8px;
	padding: 32px 40px;
	/* margin-top: 24px; */
}

/* NODE/ EDGE LABEL/ PROPERTY */

.nodeContainer {

}

	.labelContainer {
		font-weight: 600;
		display: flex;
    	align-items: center;
		justify-content: space-between;
		margin-bottom: 8px;
	}

	.propertyContainer {
		font-weight: 600;
		display: flex;
    	align-items: center;
		justify-content: space-between;
		margin-bottom: 8px;
	}

.propertyClass {
	display: grid;
    grid-template-columns: 0 1fr 16px 1fr auto;
    grid-gap: 16px;
	align-items: center;
	margin-bottom: 8px;
}

.headers {
	height: 18px;
}

.nextstep {
	background-color: white;
	border: 1px solid grey;
	border-radius: 24px;
	padding: 24px;
	position: absolute;
	color: black;
	z-index: 2;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.overlay{
	height: 100%;
	width: 100%;
	z-index: 1;
	/* background: black; */
	/* opacity: 0.5; */
	position: absolute;
	top: 0; 
	left: 0;
}

.opacity{
	height: 100%;
	width: 100%;
	z-index: 1;
	background: black;
	opacity: 0.5;
	position: absolute;
	top: 0; 
	left: 0;
}